.orange-badge {
	background-color: #EA5624 !important;
}

.white-icon {
	color: #FFFFFF !important;
	font-size: 18px;
}

#navbar-global-search {
	border-radius: 25px;
	padding-left: 30px;
	z-index: -1000;
}

.left-inner-addon {
	position: relative;
}

.left-inner-addon i {
	position: absolute;
	padding: 10px 12px;
	pointer-events: none;
}

.navbar .container-fluid {
	background-color: #00A3DD;
}

.navbar-image {
	height: 45px;
	width: auto;
	margin: 0px;
}

.jumbotron {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	padding: 15px;
	padding-bottom: 60px;
	margin-top: 100px;
	height: auto;
}

* {
	font-family: 'Roboto', arial, sans-serif;
}

.fa {
	font-family: FontAwesome !important;
}

h3 {
	font-weight: bold;
}

.login_header {
	text-align: center;
}

.login_form {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.btn-float-right {
	float: right;
}

.navbar-right {
	margin-right: 0px;
}

.btn-primary {
	background: #00A3DD;
	border: 1px solid #0090C4;
}

.btn-primary:hover {
	background: #0090C4;
	border: 1px solid #0090C4;
}

.portal-footer {
	background-color: #2d2d2d;
	z-index: 1000;
	border-top: 8px solid #222;
	color: white;
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
}

.alert {
	padding: 10px;
}

.alert-close {
	float: right;
	font-size: 20px;
	cursor: pointer;
}